.tagsContainer {
  position: relative;
  cursor: text;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0.5rem;
  gap: 0.5rem;
}

.tagsContainer > div {
  min-height: 2rem;
}

.tagsContainer textarea {
  all: unset;
  position: absolute;
  white-space: pre-wrap;
  top: 0.5rem;
  left: 0.75rem;
  height: 1rem;
  width: calc(100% - 24px - 1rem);
}
