{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "off",
  "singleQuote": true,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "semi": false,
  "trailingComma": "es5"
}
